.APOD {
  text-align: center;
  margin-top: 30px;
}

.APOD h1 { letter-spacing: 1px;}

#picture, #relevant { padding: 20px;}

#picture img { height: 500px;}

#picture iframe {
  width: 500px;
  height: 400px;
}

.calendar {
  background-color: rgba(0,65,106, .6);
  display: inline-block;
  padding: 10px;
  border-radius: 10px;
  font-weight: 600;
  border: 3px solid #BDCDD8;
}

.calendar input {
  border-radius: 3px;
  border: 1px solid white;
}

input[type=submit] {
  background-color: #336788;
  color: white;
  border: 1px solid #336788;
  padding: 5px;
  letter-spacing: 2px;
  font-weight: 600;
}

#title {
  font-size: 40px;
  font-weight: bold;
}

#copyright, #date {
  font-size: 20px;
  text-align: center;
}

#caption {
  font-size: 20px;
  font-weight: 200;
  text-align: left;
  padding: 0px 30px 10px;
}

@media screen and (max-width: 600px) {
  #picture img {
    width: 100%;
    height: 100%;
  }

  #title { font-size: 30px;}
}