#main {
  text-align: center;
  margin-top: 100px;
}

#main img {
  width: 400px;
}

table, tr, td, tbody {
  border: solid 1px white;
}

table {
  margin: 0 auto;
  margin-top: 20px;
}

td{
  padding: 10px;
  text-align: left;
}

#sol {
  text-align: center;
  padding: 20px;
}

#solImages {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
  text-align: center;
}

#solImages img {
  width: 150px;
  height: 170px;
  margin: 20px;
  transition: box-shadow .3s;
  cursor: zoom-in;
}

#solImages img:hover {
  box-shadow: 0 0 21px white; 
}

#solImages img:active {
  width: 400px;
  height: 420px;
  box-shadow: 0 0 21px red; 
}

.loader {
  margin: 0 auto;
  border: 10px solid #f3f3f3;
  border-radius: 50%;
  border-top: 10px solid #3498db;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
